{% extends "admin/base_admin.html" %}

{% block title %}Crear Usuario{% endblock %}

{% block content %}
<div class="admin-container">
    <h2 class="form-title">Crear Nuevo Usuario</h2>
    
    <form action="{{ url_for('crear_usuario') }}" method="POST" class="form-create-user">
        
        <div class="form-group">
            <label for="nombre">Nombre Completo</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese nombre completo" required>
        </div>
        
        <div class="form-group">
            <label for="nombre_usuario">Nombre de Usuario</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" placeholder="Ingrese nombre de usuario" required>
        </div>
        
        <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <input type="password" id="contraseña" name="contraseña" placeholder="Ingrese contraseña" required>
        </div>
        

        <div class="form-group">
            <label for="rol_id">Rol</label>
            <select id="rol_id" name="rol_id">
                <option value="1">Administrador</option>
                <option value="2">Usuario</option>
            </select>
        </div>
        
        <button type="submit" class="btn-submit">Crear Usuario</button>
    </form>

    <!-- Contenedor para centrar el botón -->
    <div class="d-flex justify-content-center mt-3">
        <!-- Botón para regresar a la lista de usuarios -->
        <a href="{{ url_for('ver_usuarios') }}" class="btn btn-secondary btn-sm">
            <i class="bx bx-arrow-back"></i> Ir a la lista de usuarios
        </a>
    </div>
</div>
{% endblock %}
